<footer class="container mb-8 md:mb-16">
  <a class="text-sm uppercase py-1 px-2 border font-mono border-gray-900 inline-block md:hover:text-white md:hover:bg-gray-900" href="/">&lt; Back home</a>
</footer>
