<header class="container py-12">
    <h1 class="tracking-tight text-lg md:text-xl">
    {% set activePage = page.url %}
    {% if activePage == "/" %}
    <a class="opacity-25 md:hover:opacity-100" href="/">{{ site.title }}</a>
    {% else %}
    <a class="opacity-25 md:hover:opacity-100" href="/">Home</a>
    {% endif %} 
    </h1>
</header>
