---
layout: default.njk
title: Photos
---
<div class="container md:mb-8">
  <ul>
    {% for item in collections.photos %}
    <li class="mb-8">
      <a href="{{ item.url }}">
     <h3 class="font-medium md:text-lg">{{ item.data.title }}</h3>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
