@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

@tailwind base;

body {
  background-color: #f2f2f2;
  @apply text-gray-900;
}

@tailwind components;
@tailwind utilities;

.container {
  max-width: 800px;
}

li.highlight:last-of-type::after {
  content: "NEW";
  @apply inline-block;
  @apply text-xs;
  @apply bg-yellow-400;
  @apply px-2;
  @apply py-1;
  @apply rounded-full;
  @apply ml-2;
  @apply font-bold;
  @apply -mt-2;
}