---
layout: default.njk
title: Hello 👋
---
<div class="container md:mb-8">
 {% include 'page-title.njk' %}
 <p class="mb-4">Here you’ll find some photos from our current travels around Greece:</p>
  <ul>
    {% for item in collections.photos %}
    <li>
      <a class="block underline mb-4 md-mb-8" href="{{ item.url }}">
     <h3 class=“font-medium md:text-lg”>{{ item.data.title }}</h3>
      </a>
    </li>
    {% endfor %}
  </ul>
  <hr class="border-gray-400 mb-4 md:mb-8">
 <p>If you’re looking for the old site from our round the world trip, you can still find it <a class="underline" href="https://www.grantelliott.co" target="_blank">here</a>.</p>
</div>
