---
layout: default.njk
title: Hello 👋
---
<div class="container md:mb-8">
 <p>Here you’ll find some photos from our current travels around Greece.</p>
 <p>If you’re looking for the old site from our round the world trip, you can find it <a href=“https://www.grantelliott.co” target=“_blank”>here</a> (for now).</p>
</div>
