---
layout: default.njk
title: Hello 👋
---
<div class="container md:mb-8">
 <p class="mb-4">Here you’ll find some photos from our current travels around Greece.</p>
  <ul class="mb-4">
    {% for item in collections.photos %}
    <li class=“mb-8”>
      <a href=“{{ item.url }}”>
     <h3 class=“underline font-medium md:text-lg”>{{ item.data.title }}</h3>
      </a>
    </li>
    {% endfor %}
  </ul>
 <p>If you’re looking for the old site from our round the world trip, you can find it <a class="underline" href="https://www.grantelliott.co" target="_blank">here</a> (for now).</p>
</div>
